<br><br>
Nome:<input type="text" [(ngModel)]="usuario.nome" /><br>
Email:<input type="text" [(ngModel)]="usuario.email" /><br>
Username:<input type="text" [(ngModel)]="usuario.username" /><br>
<button (click)="salvar()">Cadastrar</button>
<p>{{nome}}</p>
